
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

:root {
  --background-color: #FADAB4;
  --white: #fff7ed;
  --beige: #F8B860;
  --light-brown: #8D4926;
  --dark-brown: #412010;
  --secondary-color: #6c757d;
  --positive-color: #3fae48;
  --negative-color: #E50014;


}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
  background-color: #FADAB4;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  list-style: none;
  
}

li {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  min-width: 16rem;
  padding: 1.5rem 3rem;
  background-color: var(--white);
  border: 3px solid var(--dark-brown);
  border-radius: 10px;
  text-align: start;
  box-shadow: 4px 6px 0px 0px rgba(26, 18, 6, 0.75);
}

li:hover {
  box-shadow: 1px 1px 0px 0px rgba(26, 18, 6, 0.75);
  transform: translateY(4px);
  /* border-color: var(--white); */
}

.button-style{
  background-color: var(--light-brown);
  font-family: 'Press Start 2P', cursive;
  margin-top: 50px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid (141,73,38);
}


.next-button {
  background-color: #F8B860;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  padding: 1.2rem 2.4rem;
  border-radius: 20px;
  border: 3px solid (141,73,38);
  margin-top: 2rem;
  cursor: pointer;
}

.next-button:hover {
  color: var(--white);
  transform: scale(1.02);
   background-color: var(--light-brown);
}

#next-question-button.button-disabled:hover {
  cursor: default;
  background-color: #F8B860;
  transform: scale(1);
  color: #B18648;
}

/* WELCOME PAGE  */

.welcome-page-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 700px;
  height:350px;
  background-color: var(--beige) ;
  border: 3px solid var(--light-brown);
  border-radius: 20px;
}

.welcome-page-heading{
  font-size: 70px;
}

.name-label {
  font-size: 20px;
}

.name-input{
  width: 250px;
  height: 50px;
  border: 2px solid;
  border-radius: 10px;
  caret-color: var(--negative-color);
  font-family: 'Press Start 2P', cursive;
}

.name-input:focus{
  font-family: 'Press Start 2P', cursive;
}

.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}


.toad{
  order: -1;
  width: 120px;
  z-index: -1000;
  margin-right: -35px;
  margin-top: 30px;
}

/* One of the toads has to be flipped horizontally */

.toad1{
  width: 120px;
  z-index: -1000;
  margin-left: -35px;
  margin-top: 30px;
}

/* QUESTION PAGE */
.status-bar {
  
  display: flex;
  width: 68vw;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}


/* basic styles for Input name */

.name-input {
  display: block;
  margin-top: 2em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.button-style {
  width: 10em;
  height: auto;
  display: block;
  margin-top: 2em;
  margin-left: 2em;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.progress-container {
  height: 1.4rem;
  width: 50vw;
  border-radius: 0.4rem;
  background: var(--white);
  position: relative;
}

.progress-container #progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;
  background: var(--beige);
  transition: width 0.4s ease;
  transition-duration: 2s;
  position: relative;
}

/* MARIO PROGRESS */
.progress-container #progress::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -28px;
  right: -45px;
  background-image: url("../public/mario_run.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Question Page */
/* Status bar */
.points-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.points {
  margin-bottom: 2.2rem;
}

.house {
  background-image: url('../public/castle.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  background-color: var(--beige);
  border: 4px solid var(--light-brown);
  border-radius: 10px;
  margin: 0 auto;
  padding: 4rem 0;
}

.question-image-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.question-image {
  border-radius: 4px;
  animation: image-slide .3s ease-in-out both;
  border: 4px solid var(--dark-brown)
}

@keyframes image-slide {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.question {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  letter-spacing: .3rem;
  line-height: 2.2rem;
  animation: animate .5s ease-in-out both;
}

@keyframes animate {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.hint {
  font-size: 1rem;
  background-color: var(--white);
  line-height: 2;
  border: 8px solid var(--positive-color);
  border-radius: 6px;
  padding: 1rem;
  max-height: 24rem;
  overflow: auto;
  animation: animate  .7s ease-in-out both;
  }

.yes {
  background-color: var(--positive-color);
}

.no {
  background-color: var(--negative-color)
}

/* Mario pop-up  */
.happy-mario {
  background-image: url(../src/images/happy-mario.png);
  background-size: cover;
  rotate: 90deg;
  width: 150px;
  height: 150px;
  left: 80%;
  position: absolute;
  z-index: -1;
  display: none;
  
}

.hello-happy-mario {
  animation: move-right 1s forwards;
  display: block;
}

@keyframes move-right {
  from {
    left: 80%;
    opacity: 0.5;
  }
  to {
    left: 100%;
    opacity: 1;
  }
}
.sad-mario {
  background-image: url(../src/images/sad-mario.png);
  background-size: cover;
  width: 200px;
  height: 230px;
  z-index: 2;
  display: none;

}

.hello-sad-mario {
  animation: move-up 1s forwards;
  position: fixed;
  display: block;
}

@keyframes move-up {
  from {
    bottom: -50%;
    opacity: 0.5;
  }
  to {
    bottom: -18%;
    opacity: 1;
  }
}

/* Welcome page */

.welcome-page-div{
  width: 700px;
  height:350px;
  background-color: rgb(248,184,96) ;
  border: 3px solid rgb(141,73,38);
  border-radius: 20px;
  position: relative;
}

.welcome-page-heading{
  font-size: 70px;
  padding: 80px;
  padding-bottom: 50px;
}

.name-label {
  font-size: 20px;
}

.name-input{
  margin-top: 40px;
  width: 250px;
  height: 50px;
  border: 2px solid;
  border-radius: 10px;
  caret-color: red;
  font-family: 'Press Start 2P', cursive;
}

.name-input:focus{
  font-family: 'Press Start 2P', cursive;
}

.button-style{
  background-color: rgb(141,73,38);
  font-family: 'Press Start 2P', cursive;
  width: 180px;
  height: 50px;
  position: absolute;
  left: 230px;
  top: 350px;
  border-radius: 20px;
  border: 3px solid (141,73,38);
}

.toad{
  width: 90px;
  position: absolute;
  top: 360px;
  left: 410px;
  z-index: -1000;
}

.toad1{
  width: 90px;
  position: absolute;
  top: 360px;
  left: 190px;
  z-index: -1000;
}

/* Media queries */

@media  (max-width: 1024px) {
  html {
    font-size: 10px;
  }
  .status-bar {
    width: 100%;
  }
  .main-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 80vw;
    min-height: 50vh;
  }

  .question-image-container {
    max-width: 90%;
    padding: 1.5rem;
    margin-top: 4rem;
    gap: 5rem;
    flex-grow: 1;
 
  }

  .hint {
    border: 4px solid var(--positive-color);
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
  }

  li {
    min-width: 13rem;
    padding: 1.2rem 2.2rem;
    text-align: center;
  }

  .happy-mario {
    display: none;
  }
  .sad-mario {
    display: none;
  }

  .next-button {
    margin-top: 5rem;
  }
}

@media  (max-width: 720px) {
 html {
  font-size: 10px;
 }

 ul {
  margin-bottom: 4rem;
}

.question-image-container {
  margin-top: 2rem;
}

 .main-container {
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 88vw;
}
}
