@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

:root {
  --background-color: #fadab4;
  --white: #fff7ed;
  --beige: #f8b860;
  --light-brown: #8d4926;
  --dark-brown: #412010;
  --secondary-color: #6c757d;
  --positive-color: #1e87b0;
  --negative-color: #e50014;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
  background-color: #fadab4;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

li {
  display: inline-block;
  box-sizing: border-box;
  min-width: 270px;
  padding: 20px 60px;
  background-color: var(--white);
  border: 3px solid var(--dark-brown);
  border-radius: 10px;
  text-align: start;
  /* TRY */

  box-shadow: 4px 6px 0px 0px rgba(26, 18, 6, 0.75);
}

li:hover {
  box-shadow: 1px 1px 0px 0px rgba(26, 18, 6, 0.75);
  transform: translateY(4px);
  /* border-color: var(--white); */
}

.button-style {
  background-color: var(--light-brown);
  font-family: 'Press Start 2P', cursive;
  margin-top: 50px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid (141, 73, 38);
}

#next-question-button {
  /* background-color: var(--light-brown); */
  background-color: #f8b860;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  padding: 1.2rem 2.4rem;
  border-radius: 20px;
  border: 3px solid (141, 73, 38);
  margin-top: 2rem;
  cursor: pointer;
}

#next-question-button:hover {
  color: var(--white);
  transform: scale(1.02);
  background-color: var(--light-brown);
}

/* QUESTION PAGE */
.status-bar {
  align-self: start; /*this line moves the div from the middle to the top of the page */
  display: flex;
  width: 68vw;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.progress-container {
  height: 1.4rem;
  width: 50vw;
  border-radius: 0.4rem;
  background: var(--white);
  position: relative;
}

.progress-container #progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;
  background: var(--beige);
  transition: width 0.4s ease;
  transition-duration: 2s;
  position: relative;
}

/* MARIO PROGRESS */
.progress-container #progress::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -28px;
  right: -45px;
  background-image: url('../public/mario_run.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.points {
  margin-bottom: 2.2rem;
}

.house {
  background-image: url('../public/castle.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  background-color: var(--beige);
  border: 4px solid var(--light-brown);
  border-radius: 10px;
  margin: 0 auto;
  height: 50vh;
  width: 70vw;
}

.question-image-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.question-image {
  max-width: 260px;
  border-radius: 10px;
  border: 4px solid var(--dark-brown);
  animation: image-slide 0.5s ease-in-out both;
}

@keyframes image-slide {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.question {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  line-height: 2.2rem;
  animation: animate 0.5s ease-in-out both;
}

/* @keyframes animate {
  0% {
    letter-spacing: 1.3em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
} */

@keyframes animate {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.yes {
  background-color: var(--positive-color);
}

.no {
  background-color: var(--negative-color);
}

.happy-mario {
  background-image: url(../src/images/happy-mario.png);
  background-size: cover;
  rotate: 90deg;
  width: 150px;
  height: 150px;
  left: 80%;
  position: absolute;
  z-index: -1;
  display: none;
}

.hello-happy-mario {
  animation: move-right 1s forwards;
  display: block;
}

@keyframes move-right {
  from {
    left: 80%;
  }
  to {
    left: 100%;
  }
}

.sad-mario {
  background-image: url(../src/images/sad-mario.png);
  background-size: cover;
  width: 200px;
  height: 230px;
  z-index: 2;
  position: fixed;
  display: none;
  bottom: -50%;
}

.hello-sad-mario {
  animation: move-up 1s forwards;
  position: fixed;
  display: block;
}

@keyframes move-up {
  from {
    bottom: -50%;
  }
  to {
    bottom: -16%;
  }
}

/* Welcome page */

.welcome-page-div {
  display: flex;
  flex-direction: column;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  background-color: var(--beige);
  border: 4px solid var(--light-brown);
  border-radius: 10px;
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  margin-bottom: 60px;
}

.welcome-page-heading {
  font-size: 50px;
}

.name-label {
  font-size: 20px;
}

.name-input {
  width: 250px;
  height: 50px;
  border: 2px solid;
  border-radius: 10px;
  caret-color: var(--negative-color);
  font-family: 'Press Start 2P', cursive;
}

.name-input:focus {
  font-family: 'Press Start 2P', cursive;
}

.start {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.button-style-start {
  background-color: #f8b860;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  padding: 1.2rem 2.4rem;
  border-radius: 20px;
  border: 3px solid (141, 73, 38);
  margin-top: 2rem;
  cursor: pointer;
}

.button-style-start:hover {
  color: var(--white);
  transform: scale(1.02);
  background-color: var(--light-brown);
}

.toads {
  width: 100px;
}

.toad1 {
  order: -1;
}

/* THE Final PAGE */

.final-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  background-color: var(--beige);
  border: 4px solid var(--light-brown);
  border-radius: 10px;
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  margin-bottom: 60px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}

.newgame-button-style {
  background-color: #f8b860;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  border-radius: 20px;
  border: 3px solid (141, 73, 38);
  margin-top: 2rem;
  cursor: pointer;
}

.newgame-button-style:hover {
  color: var(--white);
  transform: scale(1.02);
  background-color: var(--light-brown);
}

.gif-style {
  width: 80px;
}

@keyframes move-left {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

/* img srcs do not work properly needs to be checked */

.moving-text {
  position: absolute;
  margin-top: 30px;
  right: -80%;
  animation: move-left 5s linear 1s infinite running;
  font-size: 10px;
  white-space: nowrap;
}

.avatars {
  width: 30px;
}
